@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.text-gradient-from-A2DFDE-to-74BAB8 {
    background: linear-gradient(102deg, #a2dfde -11.25%, #74bab8 100.83%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-navbar {
    background: rgba(234, 228, 228, 0.10);
    backdrop-filter: blur(11.5px);
    border: solid 1px rgba(248, 219, 53, 0.185);
    z-index: 10;
  }

  #about {
    background: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(11.5px);
  }