@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  font-family: 'Inter', sans-serif;
}
.text-gradient-from-A2DFDE-to-74BAB8 {
  background: linear-gradient(102deg, #a2dfde -11.25%, #74bab8 100.83%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-glass {
  background: rgba(234, 228, 228, 0.1);
  backdrop-filter: blur(11.5px);
  /* border: solid 1px rgba(255, 255, 255, 0.185); */
}

/* #about {
  background: rgba(255, 255, 255, 0.137);
  backdrop-filter: blur(11.5px);
} */

.scroller_inner {
  flex-wrap: wrap;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: 
    linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%,white 80%, transparent);
}

.scroller[data-animated="true"] .scroller_inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
  var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}